body, html{
    border: 2px solid black;
    margin: 0;
    padding: 0;
}

.main_container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr     ;
    gap: 5px;
}

.left_menu{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 6;
    background-color: blue;
}

.navbar{
    background-color: cadetblue;
    grid-row-end: 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    
}

.topside{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    align-items: center;
}
.bottomside{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
    align-items: center;
}

#searchbar{
width: 500px;
height: 20px;
padding: 6px;
border-style: none;
margin-top: 8px;
margin-right: 16px;
font-size: 17px;
border-radius: 20px;
}
#searchbar:focus{
    outline: none;
    border-color: rgb(255, 0, 0);
}


.main_content{
    grid-row-start: 2;
    grid-row-end: 6;
    background-color: chartreuse;
    display: flex;
    justify-content: space-around;
    grid-template-columns: repeat(5, 1fr);
    position: relative;
    padding: 25px 0px 25px 0px;
}
.projects{
    display: flex;
    flex-direction: column;

}
.cards_container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(100px,1fr));
    grid-template-rows: repeat(auto-fit,1fr);
    justify-items: center;
    align-items: center;
    column-gap: 20px;
}

.card{
    min-width: 50px;
    width: 370px;
    height: 210px;
    background-color: aqua;
}
.other{ 
    display: grid;
    justify-items: center;
    gap: 5px;
    padding: 10px;
}
.vcard{
    grid-column-start: 5;
    grid-column-end: 6;
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 250px;
    min-height: 100px;
    max-height: 350px;

}
.announcements{
    width: 100%;
    height: 100%;
    background-color: white;
}
.trending{
    width: 100%;
    height: 100%;
    background-color: blueviolet;

}
h3{
    margin: 0;
}
