body{
    border: 2px solid black;

}

.main_container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    gap: 5px;
}

.left_menu{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: blue;
}

.navbar{
    background-color: cadetblue;
    grid-row-end: 2;
    
}
.main_content{
    background-color: chartreuse;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.cards_container{
    grid-column-start: 1;
    grid-column-end: 5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.card{
    width: 300px;
    height: 200px;
    background-color: aqua;
}
.other{
    padding: 10px;
}
.announcements{
    width: 250px;
    height: 400px;
    background-color: blueviolet;
    grid-column-start: 5;
    grid-column-end: 6;
}

.trending{
    margin-top: 20px;
    width: 250px;
    height: 400px;
    background-color: blueviolet;
    grid-column-start: 5;
    grid-column-end: 6;
}